<h1>Medical List</h1>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="specialty">Medical Specialty</label>
                <select class="form-control" name="">
                    <option *ngFor="let specialty of specialtys" [value]="specialty.id">{{specialty.description}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <select class="form-control" name="">
                    <option *ngFor="let city of cities" [value]="city.id">{{city.description}}</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/search', 'new']" class="btn btn-outline-primary" type="button" name="button">
                Buscar
            </button>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="table-responsive">

            <table class="table">

                <thead class="thead-inverse">

                    <tr>
                        <th>id</th>
                        <th>Full Name</th>
                        <th>Specialty</th>
                        <th>Address</th>
                        <th>Rating</th>
                        <th></th>
                        <th></th>

                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctors">
                        <td>{{ doctor.id }}</td>
                        <td>{{ doctor.fullname }}</td>
                        <td>{{ doctor.specialty }}</td>
                        <td>{{ doctor.address }}</td>
                        <td>{{ doctor.rating }}</td>
                        <td><a routerLink="/doctor/{{doctor.id}}" routerLinkActive="active">View</a></td>
                        <td><a routerLink="/comments/doctor/{{doctor.id}}" routerLinkActive="active">Comments</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>